// Master compilation


// prepwork
// ==============
@import 'normalize';
//Compass imports
@import 'compass';
@import 'compass/reset';

//Core partials
@import 'core/variables';
@import 'core/mixins';
@import 'core/colors';
@import 'core/maps/color-map;
@import 'color-generator';

// Typography & base
@import 'core/fonts';
@import 'core/typography';
@import 'base';

// Layout & Media Queries
@import 'layout/desktop';
@import 'layout/mobile';
@import 'layout/tablet';
@import 'layout/large';