header, section, footer {
    width: 50%;
    margin: 5px 25%;
    padding: 1.2rem;
    text-align: left;
    background: $navBG;
}
footer {
    text-align: center;
}
header {
    height: 100px;
    h1 {
        display: none;
        /* for SEO purposes */
    }
    img {
        max-width: 100%;
    }
}
article {
    width: 100%;
    height: 460px;
    margin: 5px 0;
    background: $navBG;
    p {
        text-align: left;
    }
}
form, aside {
    width: 100%;
    padding: 20px;
    text-align: left;
    border: 1px solid rgba(#fff, 0.3);
}
section {
    height: auto;
    text-align: left;
    background: $navBG url(img/homepage-feature-extra-large.png);
}