/*----------------------- @medium -----------------------------*/
@media all and (min-width: 701px) and (max-width: 1440px) {
    header, section, footer {
        width: 94%;
        margin: 10px 3.5%;
        padding: 3rem;
        text-align: left;
        background: $navBG;
    }
    article {
        width: 100%;
        height: 350px;
        margin: 10px 0;
        background: $navBG;
        p {
            text-align: left;
        }
    }
    form, aside {
        width: 100%;
        padding: 10px;
        text-align: left;
        border: 1px solid rgba(#fff, 0.3);
    }
    aside {
        height: 130px;
    }
    form {
        min-height: 380px;
    }
    section {
        height: auto;
        text-align: left;
        background: $navBG url(img/tablet.png) no-repeat;
    }
} // end of @media
