@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
  outline: 0 !important;
}

body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  background: #ddd;
  font-size: 12px;
}

h1, p {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  line-height: 31px;
}

h1 {
  padding: 10px 0;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 6px;
}

h2 {
  font-size: 25px;
  color: #231611;
}

ul, h2 {
  width: 100%;
  height: 30px;
  list-style: none;
  display: block;
  padding: 5px 0;
}

li {
  float: left;
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

nav li {
  font-size: 1rem;
}

p {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-size: 1rem;
}

span, button {
  float: right;
  width: 20%;
}

a {
  text-decoration: none;
  color: #231611;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #ddd;
}

span {
  font-size: 14px;
}

#textBox, button {
  width: 4rem;
  border: 0;
  padding: 5px;
  margin: 2px;
  background: white;
  cursor: pointer;
}

button {
  padding: 10px;
  margin: 20px;
  height: auto;
  width: 300px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #50666D;
}

#addButton, #removeButton {
  padding: 5px;
  margin: 2px 0;
  background: white;
  color: blue;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#addButton:hover, #removeButton:hover {
  background: #50666D;
}

header, section, footer {
  width: 50%;
  margin: 5px 25%;
  padding: 1.2rem;
  text-align: left;
  background: #3399DB;
}

footer {
  text-align: center;
}

header {
  height: 100px;
}
header h1 {
  display: none;
  /* for SEO purposes */
}
header img {
  max-width: 100%;
}

article {
  width: 100%;
  height: 460px;
  margin: 5px 0;
  background: #3399DB;
}
article p {
  text-align: left;
}

form, aside {
  width: 100%;
  padding: 20px;
  text-align: left;
}

section {
  height: auto;
  text-align: left;
  background: #3399DB url(img/homepage-feature-extra-large.png);
}

/*----------------------- @small -----------------------------*/
@media all and (max-width: 700px) {
  body {
    font-size: 9px;
    background: #3399DB;
    padding: 10px 5%;
  }

  header, section, footer {
    float: left;
    width: 100%;
    margin: 2px 5px;
    padding: 0;
    text-align: center;
  }

  header {
    text-align: center;
  }

  footer {
    font-size: 20px;
  }

  article {
    width: 100%;
    margin: 10px 0;
    background: #3399DB;
  }
  article p {
    text-align: left;
  }

  .summary {
    font-size: 20px;
    padding: 15px;
    padding-top: 15px;
    padding-left: 50px;
  }

  form, aside {
    float: left;
    width: 100%;
    padding: 2px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  form ul, form li, form p, aside ul, aside li, aside p {
    text-align: left;
  }

  nav ul {
    display: block;
    padding: 10px 20px;
    width: 100%;
  }

  nav ul li {
    padding: 4px;
  }

  nav {
    margin-bottom: 10px;
  }

  aside {
    height: 150px;
    width: 90%;
    margin: 10px;
    padding-left: 10px;
    text-align: left;
  }
  aside h3 {
    font-size: 20px;
    width: 100%;
  }

  section {
    height: auto;
    text-align: left;
    margin: 0;
  }
}
/*----------------------- @medium -----------------------------*/
@media all and (min-width: 701px) and (max-width: 1440px) {
  header, section, footer {
    width: 94%;
    margin: 10px 3.5%;
    padding: 3rem;
    text-align: left;
    background: #3399DB;
  }

  article {
    width: 100%;
    height: 350px;
    margin: 10px 0;
    background: #3399DB;
  }
  article p {
    text-align: left;
  }

  form, aside {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  aside {
    height: 130px;
  }

  form {
    min-height: 380px;
  }

  section {
    height: auto;
    text-align: left;
    background: #3399DB url(img/tablet.png) no-repeat;
  }
}
/*----------------------- @small -----------------------------*/
@media all and (max-width: 700px) {
  body {
    font-size: 9px;
    background: #3399DB;
    padding: 10px 5%;
  }

  header, section, footer {
    float: left;
    width: 100%;
    margin: 2px 5px;
    padding: 0;
    text-align: center;
  }

  header {
    text-align: center;
  }

  footer {
    font-size: 20px;
  }

  article {
    width: 100%;
    margin: 10px 0;
    background: #3399DB;
  }
  article p {
    text-align: left;
  }

  .summary {
    font-size: 20px;
    padding: 15px;
    padding-top: 15px;
    padding-left: 50px;
  }

  form, aside {
    float: left;
    width: 100%;
    padding: 2px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  form ul, form li, form p, aside ul, aside li, aside p {
    text-align: left;
  }

  nav ul {
    display: block;
    padding: 10px 20px;
    width: 100%;
  }

  nav ul li {
    padding: 4px;
  }

  nav {
    margin-bottom: 10px;
  }

  aside {
    height: 150px;
    width: 90%;
    margin: 10px;
    padding-left: 10px;
    text-align: left;
  }
  aside h3 {
    font-size: 20px;
    width: 100%;
  }

  section {
    height: auto;
    text-align: left;
    margin: 0;
  }
}
