
// Blueant Color Library

$neonBlue:#2AB5D2;

$neoBlack:#0F1B21;

$blueMetal:#50666D;

$steel:#BDCCD4;

$graphite:#3D454D;

$neoBlack:#231611;

$pewter:#E1E1E1;

$bodyBG:#ddd;

$navBG:#3399DB;

$navColor:#fff;
